In [7]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /Users/shannonhallmark/opt/anaconda3/lib/python3.7/site-packages (2.8.5)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import sys
import psycopg2
from psycopg2.extras import execute_values
from dotenv import load_dotenv
import os
import json
from sqlalchemy import create_engine
import sqlite3

In [49]:
SPOTIFY_DB_NAME = "d8r8gfaafscd9c"
SPOTIFY_DB_PW = "6295372399934d8e95f324cfaf046ff36893d97955941ca0f6830a25853b65f3"
SPOTIFY_DB_HOST = "ec2-34-234-228-127.compute-1.amazonaws.com"
SPOTIFY_DB_USER = "cmmfikqeztfczk"

In [50]:
conn = psycopg2.connect(dbname=SPOTIFY_DB_NAME, user=SPOTIFY_DB_USER,
                        password=SPOTIFY_DB_PW, host=SPOTIFY_DB_HOST)
cur = conn.cursor()

In [51]:
s3_conn = sqlite3.connect('sqliteSPOT.sqlite3')
curs = s3_conn.cursor()

In [52]:
insert_table = """
CREATE TABLE SpotTest4(
    id SERIAL PRIMARY KEY, 
    artist_name VARCHAR,
    track_id VARCHAR,
    track_name VARCHAR,
    acousticness REAL,
    danceability REAL,
    duration INT,
    energy REAL,
    instrumentalness REAL,
    key INT,
    liveness REAL,
    loudness REAL,
    mode INT,
    speechiness REAL,
    tempo REAL,
    time_signature INT,
    valence REAL,
    popularity INT);"""

In [53]:
curs.execute(insert_table)
curs.close()
S3_conn.commit()

OperationalError: table SpotTest4 already exists

In [54]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Lambda-Spotify-Song-Suggester-3/datascience/master/kaggle_data/SpotifyAudioFeaturesApril2019.csv")

In [55]:
df.dtypes

artist_name          object
track_id             object
track_name           object
acousticness        float64
danceability        float64
duration_ms           int64
energy              float64
instrumentalness    float64
key                   int64
liveness            float64
loudness            float64
mode                  int64
speechiness         float64
tempo               float64
time_signature        int64
valence             float64
popularity            int64
dtype: object

In [56]:
df.tail()

,artist_name,track_id,track_name,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,popularity
130658,Calum Scott,0cvfSKcm9VeduwyYPrxtLx,Come Back Home,0.00678,0.601,190539,0.801,0.0,11,0.0991,-5.174,1,0.0323,131.049,4,0.2890,57
130659,Saint Claire,43MP9F7UzvfilSrw2SqZGJ,Enough for You,0.91800,0.387,194583,0.249,0.0,9,0.1030,-13.233,1,0.0437,94.039,4,0.3460,60
130660,Mike Stud,4TWlUuFk81NGUNKwndyS5Q,Do It,0.33000,0.717,139191,0.532,0.0,8,0.0997,-8.351,0,0.2060,156.977,4,0.5460,47
130661,D Savage,5iGBXzOoRo4sBTy8wdzMyK,No Smoke,0.00790,0.772,180013,0.510,0.0,4,0.1310,-9.670,0,0.1200,120.049,4,0.0755,50
130662,Banda Los Sebastianes,7LNtyuekYHiZ99UxkrfCQR,En Vida,0.54900,0.715,145827,0.734,0.0,3,0.1080,-3.244,1,0.0367,130.128,3,0.9760,55

In [57]:
df_columns = df.columns

In [58]:
all_data = curs.execute("SELECT * FROM test2").fetchall()
all_data

OperationalError: no such table: test2

In [59]:
for data in all_data:
    insert_data="""
    INSERT INTO spotifytable 
    (artist_name, track_id, track_name, acousticness, danceability, duration, energy, instrumentalness, key, liveness, loudness, mode, speechiness, tempo, time_signature, valence, popularity)
    VALUES
    """ + str(data[1:]) + ';'
    pg_curs.execute(insert_data)
    
pg_curs.close()
pg_conn.commit()

NameError: name 'all_data' is not defined