## *DEEPTUNES!*
Spotify Recommendation Neural Network

*Padgett, Jacob*  
*Quinn, Avery*  
*Strauffer-Norris, Will*  

**GITHUB: https://github.com/Lambda-Spotify-Song-Suggester-3**

In [1]:
from keras.models import Model
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow import keras
from tensorflow.keras.datasets import mnist
from tensorflow.keras.layers import Input, Embedding, Flatten, Dot, Dense, Concatenate, Dropout
from tensorflow.keras.models import Sequential

%matplotlib inline

Using TensorFlow backend.

In [2]:
# Data from Nov2018
# Not including the data here due to a plethora of duplicates and group decision
# df18 = pd.read_csv('https://raw.githubusercontent.com/Lambda-Spotify-Song-Suggester-3/datascience/master/kaggle_data/SpotifyAudioFeaturesNov2018.csv')
# print(f'df18 shape: {df18.shape}')

# Data from Apr2019
df19 = pd.read_csv('https://raw.githubusercontent.com/Lambda-Spotify-Song-Suggester-3/datascience/master/kaggle_data/SpotifyAudioFeaturesApril2019.csv')
print(f'df19 shape: {df19.shape}')

df19 shape: (130663, 17)

In [0]:
# Columns arde the same
# df18.columns == df19.columns # Not using both datasets (see import cell above)

In [0]:
# Concat data together
# df = pd.concat([df18, df19]) # Not using both datasets (see import cell above)
# print(df.shape) # Not using both datasets (see import cell above)

In [0]:
# Rename df19 because we're not using the df18
df = df19.copy()

In [6]:
# View head
df.head(1)

  artist_name                track_id  ... valence  popularity
0          YG  2RM4jf1Xa9zPgMGRDiht8O  ...   0.118          15

[1 rows x 17 columns]

In [7]:
# Fix track_id
df.drop(columns='track_id')
df['track_id'] = range(1, len(df) + 1)
df.head(1)

  artist_name  track_id  ... valence  popularity
0          YG         1  ...   0.118          15

[1 rows x 17 columns]

In [8]:
for col in df.columns:
  print(col)

artist_name
track_id
track_name
acousticness
danceability
duration_ms
energy
instrumentalness
key
liveness
loudness
mode
speechiness
tempo
time_signature
valence
popularity

In [0]:
# All from a specific artist
# df[df['artist_name'] == 'YG']

In [0]:
# Describe the dataset
# df.describe()

In [11]:
# Drop potential leakage
df.drop(columns=['artist_name', 'track_id', 'track_name'], inplace=True)
for col in df.columns:
  print(col)

acousticness
danceability
duration_ms
energy
instrumentalness
key
liveness
loudness
mode
speechiness
tempo
time_signature
valence
popularity

In [12]:
# Set target
# target = df['popularity']

# Train test split
train, test= train_test_split(df, test_size=0.045, random_state=42)

# See shapes
print(f'train: {train.shape}')
print(f'test:  {test.shape}\n')


# Seperate train/test
X_train = train.drop(columns='popularity')
y_train = train['popularity']
X_test = test.drop(columns='popularity')
y_test= test['popularity']

print(f'X_train shape: {X_train.shape}')
print(f'y_train shape: {y_train.shape}')
print(f'X_test  shape: {X_test.shape}')
print(f'y_test  shape: {y_test.shape}')

train: (124783, 14)
test:  (5880, 14)

X_train shape: (124783, 13)
y_train shape: (124783,)
X_test  shape: (5880, 13)
y_test  shape: (5880,)

In [0]:
#Normalizing the data
sc = StandardScaler()
X = sc.fit_transform(X_train)

## ***Two bad models which I abandon and work with Will and Avery in advancing their ideas while simultaneously going through TL training.***

In [14]:
# Start model
model = Sequential()

# Add to model
model.add(Dense(8, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Fit
model.fit(X, y_train, epochs=3, batch_size=64, verbose=1)

Epoch 1/3
1950/1950 [==============================] - 4s 2ms/step - loss: -12389.2393 - accuracy: 0.0261
Epoch 2/3
1950/1950 [==============================] - 4s 2ms/step - loss: -155022.3750 - accuracy: 0.0245
Epoch 3/3
1950/1950 [==============================] - 4s 2ms/step - loss: -540859.3750 - accuracy: 0.0245

In [15]:
# Start model
model = Sequential()

# Add to model
model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(12, activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
  
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='nadam', metrics=['accuracy'])

# Fit model
model.fit(X, y_train, epochs=3, batch_size=64, verbose=1)

Epoch 1/3
1950/1950 [==============================] - 8s 4ms/step - loss: 2.8860e-06 - accuracy: 0.1339
Epoch 2/3
1950/1950 [==============================] - 8s 4ms/step - loss: 2.8860e-06 - accuracy: 0.1339
Epoch 3/3
1950/1950 [==============================] - 8s 4ms/step - loss: 2.8861e-06 - accuracy: 0.1339

***As a group of DS Unit 4 students, we couldn't come up with a good/functioning ANN. So we moved from none of us having come up with an ANN to (after meeting with Jon Cody) trying cosign similarity. And once we decided that wasn't what we wanted, we switched to a K-Nearest-Neighbors solution which is what we finished on as a best choice of what worked for the whole team.***

See the [RUBRIC](https://www.notion.so/Data-Science-Unit-4-814c17e421334cd8b3d2867d1d49f541) for grading this.